.items-box{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.items-box image{
  width: 150rpx;
  height: 150rpx;
  box-sizing: border-box;
  border-radius: 50%;
}
.item-choose{
  margin-top: 10rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25rpx;
}
